/*font-family: "Jim Nightshade", cursive;**/

html body{
    background-color: #121212;
    background-image: url(images/fondoglicines.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Montenegrin Gothic One", serif;
}

.navbar-negra-transparente {
    background-color: rgba(0, 0, 0, 0.768); 
}

.navbar-logo {
    height: 40px;      
    width: auto; 
    border-radius: 50%;
}

.hero{
    background-image: url(images/kny1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    color: aliceblue;
}

h1{
    font-family: "Jim Nightshade", cursive;
}

footer{
    color: dimgray;
    background-color: rgba(0, 0, 0, 0.768);
    margin-top: 10px;
}

h2{
    padding: 10px;
    color: aliceblue;
}

.cartas{
    padding: 10px;
    margin: 5px;
    object-fit: cover;
}

.card{
    width: 250px;
    
}

.card:hover{
    transform: translateY(-5px);
    border-color: #dc3545;
    box-shadow: 0px 8px 15px rgba(229, 51, 68, 0.3);
}

.lista-arcos {
    list-style: none;
    padding-left: 0;
}

.lista-arcos a {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;
    margin-bottom: 6px; 
}

.lista-arcos li a:hover{
    color: rebeccapurple;
    background: rgba(20, 20, 20, 0.65);
}

.lista-arcos li a img {
    width: 100px;
    object-fit: cover;
}

h3{
    color: black;
}

#arcos{
    background-color: darkred;
    max-height: fit-content;
}

#director{
    width: 200px;
    padding: 10px;
}


#creadores{
    background-color: rgba(0, 0, 0, 0.768);
}

.accordion-item{
    background-color:#a32a2a ;
    border-color: #121212;
}

.accordion-button{
    background-color: rebeccapurple;
}

.containerform{
    background-color: black;
    padding: 20px;
    margin-top: 10px;
}
